* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Almarai', sans-serif;
    text-transform: capitalize;
    text-align: center;
}

h1 {
    margin: 20px 0;
    color: #053742;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.member {
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid #eee;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.member:hover {
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    box-shadow: 5px 5px 20px lightgrey;
}

.member img {
    width: 120px;
    height: 120px;
    background-size: contain;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 2px;
    margin-bottom: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.member:hover img{
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    outline: 4px solid #AFD3E2;;
}

.member h4 {
    margin-bottom: 5px;
    color: #053742;
}

.member p {
    font-size: 14px;
    color: #9BA4B5;
}

.member .social-links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.member .social-links a i {
    color: #9BA4B5;
    font-size: large;
    padding: 0 5px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.member .social-links a i:hover {
    color: #39A2DB;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}